<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand"  [routerLink]="[titleUrl]">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let m of items">
        <!--<a class="nav-link" href="{{ m.link }}">{{ m.name }}</a>-->
        <a class="nav-link" [routerLink]="[m.link]">{{m.name}}</a>
      </li>
    </ul>
  </div>
</nav>
